#high-scores{
  border:1px solid black;
  padding:5px;
  margin-top:10px;

  .won{
    background-color:#55FF55;
  }
  .lost{
    background-color:#FF5555;
  }
}

.join-line{ 
  margin-bottom:5px;

  a{
    width:150px;
    display:inline-block;
    padding:3px;
    border:1px solid black;
    border-radius:3px;
    text-decoration: none;
    color:#444;
    text-align:center;

    &:visited{
      color:#444;
    }

    &:hover{
      color:#AAA;
    }
  }
}
