<div id='guide'>
  <h1><u>Gnomic Ned's Technical Help Guide</u></h1>

  <div class='text'>
    <p>Needy customer in a pickle, yelling nonsense at you over the phone?</p>
    
    <p><b>Gnomic Ned is here to help you help them, and get through this with your sanity intact!</b></p>

    <p>The first thing to do is remind the client to <i>calm down</i>. If they're busy pressing buttons and throwing switches, your job gets a lot harder. Only once the client understand the importance of not making things worse can you begin to make things better.</p>

    <p>Next, remember your technical training! We know there's a lot of information to take in at once, and sometimes it can all feel a bit unclear, even to someone like yourself who knows computers. That's why we also provide you with a handy catalog, detailing many of the fiddly specifics of various popular devices. If you can't remember the details of a specific model, simply figure out which piece of hardware the customer is using and look it up in the catalog - it couldn't be simpler!</p>

    <p>No matter which what your customer's setup or specific problem, it's important at the beginning of a consultation to cover the basics. Is the monitor plugged in and turned on? Is the monitor's data cable attached to the tower's display port? Is the tower plugged in and turned on? Are the input types on the tower and monitor both set to the same setting (usually XVD for modern systems)?</p>

    <p>Once the basics have been confirmed, then we can get into the meat and bones of more difficult technical tasks, like installing operating systems, peripherals, drivers and software, or helping your customer deal with hardware faults or viral infections. It's important to remember</p>
    
    <p>[...The text continues on for quite some time, but this is where you stop reading. If Grandpa needs more help than this, he can pay a professional to do it. ]</p>
  </div>
</div>
