<div id='#game'>
  <div>
    <div>Yay! You joined this game as a <%= @user.type %></div>
    <div>You are currently: <b><span id='status'></span></b>
  </div>

  <div id='main'>
  </div>

  <div id='message-log'>
  </div>

  <form id="message-builder">
    <div id='message-block'></div>
    <button>Submit</button>
  </form>

  <div id='word-list'>
    <h4>WORD LIST:</h4>
  </div>

</div>

<%= javascript_tag do %>
  App.connect_to_game('<%=@user.type%>', <%=@user.id%>)
<% end %>
