<div>
  <a href="/game?as=grandpa">Play as Grandpa</a> <span>(<%=@grandson_games.count%> grandsons are ready to help.)</span>
</div>
<div>
  <a href="/game?as=grandson">Play as Grandson</a> <span>(<%=@grandpa_games.count%> grandpas need your help.)</span>
</div>
