<div>
  <a href="/game?as=grandpa">Play as Grandpa (EASY MODE)</a> <span>(<span class='grandson-count'><%=@grandson_games.count%></span> grandsons are ready to help.)</span>
</div>
<div>
  <a href="/game?as=grandson">Play as Grandson (HARD MODE)</a> <span>(<span class='grandpa-count'><%=@grandpa_games.count%></span> grandpas need your help.)</span>
</div>

<div>
  <span class="lobby-count">0</span> players are currently chilling on this page.
</div>

<%= javascript_tag do %>
  App.connect_to_menu()
<% end %>
