<div>
  <button>Play as Grandpa</button> <span>(<%=@grandson_games.count%> grandsons are ready to help.)</span>
</div>
<div>
  <button>Play as Grandson</button> <span>(<%=@grandpa_games.count%> grandpas need your help.)</span>
</div>
