<%= form_for(grandpa) do |f| %>
  <% if grandpa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grandpa.errors.count, "error") %> prohibited this grandpa from being saved:</h2>

      <ul>
      <% grandpa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
